- style ||= 'display: none'
- style = 'display: block' if @listing.errors.any?
= form_for @listing, html: { style: style } do |f|
  .section
    = f.label :realm
    = f.text_field :realm
    = f.label :character
    = f.text_field :character
    = f.label :irc_name, "(Optional) IRC Name"
    = f.text_field :irc_name
  .section
    = f.label :race
    = f.select :race, Wow::RACES.invert.map { |k,v| [k.capitalize, v] }
    = f.label :character_class, "Class"
    = f.select :character_class, Wow::CLASSES.invert.map { |k,v| [k.capitalize, v] }
    = f.label :main_spec, "Main Spec"
    = f.select :main_spec, options_for_spec_select
    = f.label :off_spec, "Off Spec"
    = f.select :off_spec, options_for_spec_select
  .section
    = f.label :rating, "Current Rating"
    = f.text_field :rating, size: 10
    = f.label :rank, "Highest Rank"
    = f.text_field :rank, size: 20
    = f.label :resilience
    = f.text_field :resilience, size: 10
  .section
    = f.submit "Add Me to the List!"
