<% form_class = @listings.any? ? 'hidden' : '' %>
<% button_class = @listings.any? ? '' : 'hidden' %>

<script type="text/javascript">
  window.preloadListings = <%= raw @listings.to_json %>
  window.rubyTime = <%= Time.new.to_i %>
</script>

<div class="container">
  <%= image_tag 'buttons/join.gif', 'data-rollover' => image_path('buttons/join_over.gif'), class: "button #{button_class}", id: 'add_button' %>

  <form id="lookup_form" class="<%= form_class %>">
    <div class="section">
      <label for="realm">Realm:</label>
      <input type="text" name="realm" id="listing_realm" size="30" />
      <label for="name">Name:</label>
      <input type="text" id="listing_name" size="30" />
    </div>
    <div class="section">
      <input type="submit" value="Add My Character" />
    </div>
  </form>

  <%= form_for :listing, html: { class: 'hidden', id: 'new_listing_form' } do |f| %>
    <div class="section">
      <%= f.hidden_field :realm %>
      <%= f.hidden_field :character %>
      <%= f.hidden_field :gender %>
      <%= f.label :race, "Race:" %>
      <%= f.hidden_field :race %>
      <span id="display_race"></span>
      <%= f.label :character_class, "Class:" %>
      <%= f.hidden_field :character_class %>
      <span id="display_character_class"></span>
      <%= f.label :main_spec, "Main Spec:" %>
      <%= f.select :main_spec, options_for_spec_select %>
      <%= f.label :off_spec, "Off Spec:" %>
      <%= f.select :off_spec, options_for_spec_select %>
    </div>
    <div class="section">
      <%= f.label :rating, "Current Rating:" %>
      <%= f.hidden_field :rating %>
      <span id="display_rating"></span>
      <%= f.label :rank, "Highest Rank:" %>
      <%= f.hidden_field :rank %>
      <span id="display_rank"></span>
      <%= f.label :resilience, "Resilience:" %>
      <%= f.hidden_field :resilience %>
      <span id="display_resilience"></span>
      <%= f.label :item_level, "Item Level:" %>
      <%= f.hidden_field :item_level %>
      <span id="display_item_level"></span>
    </div>
    <div class="section">
      <%= f.label :notes, "(Optional) Notes:" %>
      <%= f.text_field :notes, size: 50 %>
      <%= f.label :irc_name, "(Optional) IRC Name:" %>
      <%= f.text_field :irc_name %>
    </div>
    <div class="section">
      <%= f.submit "Add Me to the List!" %>
    </div>
  <% end %>

  <div id="filter" class="hidden">
    <a href="#">Filter the List</a>
    <form id="filter_form" class="hidden">
      <span id="filter_faction">
        <input id="faction_alliance" type="radio" name="faction" value="alliance" />
        <label for="faction_alliance">Alliance</label><br />
        <input id="faction_horde" type="radio" name="faction" value="horde" />
        <label for="faction_horde">Horde</label>
      </span>
    </form>
  </div>

  <table id="listing_table" class="hidden">
    <thead>
      <tr class="header">
        <th data-sort="faction"></th>
        <th data-sort="character">Character</th>
        <th data-sort="realm">Realm</th>
        <th data-sort="main_spec"><span data-tooltip="Main Spec">MS</span></th>
        <th data-sort="off_spec"><span data-tooltip="Off Spec">OS</span></th>
        <th data-sort="rating">Current<br />Rating</th>
        <th data-sort="rank">Highest<br />Rank</th>
        <th data-sort="resilience"><span data-tooltip="Total Resilience">Resil</span></th>
        <th data-sort="item_level"><span data-tooltip="Average Item Level">iLvl</span></th>
        <th data-sort="irc_name">IRC Name</th>
        <th data-sort="time_in_list"><span data-tooltip="Time in List">Time</td></th>
        <th data-sort="notes"><span data-tooltip="Notes">N</span></th>
      </tr>
    </thead>
    <tbody>
      <tr class="empty hidden">
        <td colspan="12">Nobody here yet!</td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/html" id="listing_row">
  <td>
    <div class="sprites {{ faction_sprite }}" />
  </td>
  <td>
    <div class="sprites {{ race_sprite }}" />
    <div class="sprites {{ class_sprite }}" />
    <a href="{{ bnet_url }}" class="{{ class_name }}" target="_blank">{{ character }}</a></td>
  <td><span data-tooltip="{{ battlegroup }}">{{ realm }}</span></td>
  <td><div class="sprites {{ main_spec_sprite }}" data-tooltip="{{ main_spec}} " /></td>
  <td><div class="sprites {{ off_spec_sprite }}" data-tooltip="{{ off_spec }}" /></td>
  <td>{{ rating }}</td>
  <td>{{ rank }}</td>
  <td>{{ resilience }}</td>
  <td>{{ item_level }}</td>
  {% if (obj.irc_name != obj.truncated_irc_name) { %}
    <td><span data-tooltip="{{ _.escape(irc_name) }}">{{ _.escape(truncated_irc_name) }}</span></td>
  {% } else { %}
    <td>{{ _.escape(irc_name) }}</td>
  {% } %}
  <td class='time'>{{ time_in_list }} min</td>
  <td>{% if (obj.notes.trim() != "") { %}
    <img src="<%= image_path('icons/note.png') %>" data-tooltip="{{ _.escape(notes) }}" />
    {% } %}
  </td>
</script>
